%section{class: 'edit_person'}
  %section{class: 'info'}
    %header
      = image_tag(avatar_url(@person, 80))
      %h1
        = @person.full_name
    = form_for @person, url: people_path, method: :put do |f|
      %br
      .field
        = f.label :full_name
        = f.text_field :full_name
      .field
        = f.label :irc_nickname
        = f.text_field :irc_nickname
      .field
        = f.label :rss_url
        = f.text_field :rss_url
      .field
        = f.label :description
        = f.text_area :description
      = f.submit


  %section{class: 'sidebar'}
    %ul
      %li
        - if @person.publicized?
          = link_to "Conceal membership", change_membership_people_path
        - else
          = link_to "Publicize membership", change_membership_people_path
      - free_auth_providers(@person).each do |provider|
        %li
          = link_to "Connect with #{provider}", provider
      %li
        = link_to "Manage venues", venues_path
      %li
        = link_to "Manage events", admin_events_path
