%header
  %h2.content-header
    = t('site_menu.pages.news_articles')
%ul.news-articles
  - @news_articles.each do |news_article|
    = render :partial => "news_article", :locals => { :news_article => news_article }
= will_paginate @news_articles

= content_for :sidebar do
  = render_cell :content_blocks, :snippet, :online, t('snippets.online')
  = render_cell :content_blocks, :snippet, :community, t('snippets.community')
  = render_cell :content_blocks, :snippet, :keep_in_touch, t('snippets.keep_in_touch')
