%article.news-article
  %header
    %h2
      = I18n.t('news_articles.news_article_details')
  = render :partial => "news_article_detail", :locals => { :news_article => @news_article }

  #comments
    #disqus_thread{:"data-title" => @news_article.title, :"data-url" => news_article_url(@news_article), :"data-identifier" => "news_article_#{@news_article.id}"}
    %noscript 
      = %Q{Please enable JavaScript to view the #{link_to "comments", "http://disqus.com/?ref_noscript"}.}

= content_for :sidebar do
  = render_cell :content_blocks, :snippet, :online, t('snippets.online')
  = render_cell :content_blocks, :snippet, :community, t('snippets.community')
  = render_cell :content_blocks, :snippet, :keep_in_touch, t('snippets.keep_in_touch')

= content_for :head do
  = load_comments
