%li{class: presentation.status}
  = link_to image_tag(avatar_url(presentation.lead_speaker, 80)), presentation.lead_speaker
  %p
    %strong
      = presentation.title
    %br
    - presentation.speakers.each do |speaker|
      = link_to speaker.full_name, speaker
    %br
    - if presentation.lead_speaker == current_user
      - if presentation.postponed?
        = link_to "Cancel postponement",
          cancel_postponement_event_presentation_path(presentation.event, presentation), method: :post
      - else
        = link_to "Postpone", postpone_event_presentation_path(presentation.event, presentation), method: :post
      | 
      = link_to "Cancel presentation", event_presentation_path(presentation.event, presentation), method: :delete
