<li class="user">
  <header>
    <h2>
      <%= link_to user.full_name, user %>
      <%= facebook_profile_url(user) %>
      <%= github_profile_url(user) %>
      <%= rss_url(user) %>
    </h2>
  </header>

  <div style="float: left; width: 150px;">
    <%= image_tag(avatar_url(user, 128), alt: "Avatar not found") %>
  </div>
  <div style="float: left; width: 600px;">
    <p class="description">
      <%= user.description.try(:html_safe) %>
    </p>

    <p class="details">
      <h3><%= user.karma %> karma</h3>
      <span style="font-size: 60%;">
        <%= user.amount_of_presentations %> talks,
        <%= user.irc_points %> irc points,
        <%= user.amount_of_participations %> DRUGs!
      </span>
    </p>
    
  </div>
  <div style="clear:both;"> </div>
</li>
