<li class="user">
  <header>
    <h2>
      <%= user.full_name %>
      <%= facebook_profile_url(user) %>
      <%= github_profile_url(user) %>
      <%= rss_url(user) %>
    </h2>
  </header>

  <div style="float: left; width: 150px;">
    <%= image_tag(avatar_url(user, 128), alt: "Avatar not found") %>
  </div>
  <div style="float: left; width: 600px;">
    <p class="description">
      <%= user.description.try(:html_safe) %>
    </p>

    <% if user.id >= 4 %>
      <%= image_tag("badge.png", size: "235x33") %>
    <% end%>

    <p class="details">
      <%= link_to "Talks", "#" %> |
      <%= link_to "Attachments", "#" %> |
      <%= link_to "Presence", "#" %>
    </p>

  </div>

  <div style="float: left; width: 150px;">
    <h3><%= user.karma %> karma</h3>
    <span style="font-size: 60%;">
      <a><%= user.amount_of_presentations %> talks</a>,
      <a><%= user.irc_points %> irc points</a>
    </span>
  </div>
  <div style="clear:both;"> </div>
</li>
