%section.details
  %h1= @event.title

  .datetime
    = link_to image_tag('glyphicons_045_calendar.png'), '#'
    %time{datetime: "datetime='#{@event.starting_at}'"}
      //= @event.starting_at.strftime('%d/%m/%Y')
      poniedziałek, 15 października 2012
      %br
      = @event.starting_at.strftime('%H:%M')

  .venue
    = link_to image_tag('glyphicons_242_google_maps.png'), '#'
    %address
      = @event.venue_name
      %br
      = @event.venue_address

  %p.description
    = @event.description

  - if current_user
    .buttons
      = link_to 'Attend', '#logged'
      = link_to 'Speak', ' #logged'
  - else
    .buttons
      = link_to 'Attend', '#unlogged'
      = link_to 'Speak', ' #unlogged'
    .sign-in
      = link_to "Log in with facebook", "/auth/facebook", class: 'btn-auth btn-facebook'
      %br
      = link_to "Log in with github", "/auth/github", class: 'btn-auth btn-github'
    

