%section.event
  .container
    .row
      .span6
        %h1= @event.title

        .datetime
          = link_to image_tag('glyphicons_045_calendar.png'), '#'
          %time{datetime: "datetime='#{@event.starting_at}'"}
            = l @event.starting_at

        .venue
          = link_to image_tag('glyphicons_242_google_maps.png'), '#'
          %address
            = @event.venue_name
            %br
            = @event.venue_address

        %p.description
          = @event.description

        .buttons
          = link_to 'Speak', '#', class: 'btn btn-large'
          = link_to 'Attend', '#', class: 'btn btn-large'

      .span6
        %img{src: 'http://fotowroclaw.blox.pl/resource/spacerownik_09_27_09_2008.jpg', style: 'height: 315px; width: 460px'}
        //http://placehold.it/460x315'}

    .row
      .span6
        %section.speakers
          %h1
            Speaking

          %ul
            = render partial: "presentation", collection: @presentations
      .span6
        %section.attendees
          %h1
            Attending

          %ul
            - 25.times do
              %li
                %img{src: 'http://placehold.it/47x47'}


%section.event-list
  .container
    .row
      .span12
        %h1 Previous events
    .row
      = render partial: "events", collection: @previous_events.in_groups(6, false)