- if @event
  %article.event
    %header
      %h2
        = t("events.#{@event.starting_at > Time.now ? 'next' : 'last'}_event")
    = render :partial => "events/event_detail", :locals => { :event => @event }

- else
  = t("events.no_events_published")

= content_for :sidebar do
  = render_cell :content_blocks, :news_article, :limit => 1, :title => I18n.t('news_articles.latest')
  = render_cell :content_blocks, :snippet, :label => :online, :title => I18n.t('snippets.online')
  = render_cell :content_blocks, :snippet, :label => :community, :title => I18n.t('snippets.community')

= content_for :about do
  = render_cell :content_blocks, :snippet, :label => :about_us, :title => I18n.t('snippets.about')

= content_for :head do
  = load_maps
