- if @event
  %article.event
    %header
      %h2
        = t("events.#{@event.starting_at > Time.now ? 'next' : 'last'}_event")
    = render :partial => "events/event_detail", :locals => { :event => @event }
    = link_to t('events.comments_link'), "#{event_url(@event)}#disqus_thread"

- else
  = t("events.no_events_published")

= content_for :sidebar do
  = render_cell :content_blocks, :snippet, :online, t('snippets.online')
  = render_cell :content_blocks, :snippet, :community, t('snippets.community')
  = render_cell :content_blocks, :snippet, :keep_in_touch, t('snippets.keep_in_touch')
  = render_cell :content_blocks, :twitter_feed

= content_for :about do
  = render_cell :content_blocks, :snippet, :about_us, t('snippets.about')
