<section class='details'>
  <p>
    <%= time_tag(event.starting_at, :event) %> w <%= event.venue_name_with_address %>
  </p>
  <p class='description'>
    <%#= event.description %>
    Zapraszamy na kolejne spotkanie. Zachęcamy do zgłaszania prezentacji. Wstęp wolny, nie jest wymagana rejestracja. Po luźnej części oficjalnej afterparty.
  </p>

  <!--
  <div class='datetime'>
    <%= calendar_link(event) %>
    <%= time_tag(event.starting_at, :event) %>
  </div>

  <div class='venue'>
    <%= map_link(event.venue) %>
    <address><%= event.venue_name_with_address %></address>
  </div>
  -->

  <%= render 'events/buttons' if event.future? %>
</section>
