<div>
  <%= form_for event_admin do |f| %>
    <header>
      <h1><%= event_admin.title %></h1>
      <%= f.select :venue_id, options_from_collection_for_select(Venue.all, :id, :name, event_admin.venue_id) %>
    </header>

    <section>
      <% event_admin.presentations.each do |presentation| %>
        <%= f.fields_for :presentations, presentation do |fp| %>
          <div>
            <%= fp.text_field :title %>
            <%= fp.select :status, ['submitted', 'postponed', 'done'] %>
          </div>
        <% end %>
      <% end %>
    </section>

    <footer>
      <%= link_to "Mark all as done", "", class: "mark_all_as_done" %>
      <%= f.submit "Update" %>
      <%= link_to "Send message", new_event_participants_message_path(event_admin) %>
    </footer>
  <% end %>
</div>