%h3.event-title
  = event.title
%div#map
%p  
  %time
    = l(event.starting_at, :format => :event)
  %br
  %span#map-location{:'data-lng' => event.venue_longitude, :'data-lat' => event.venue_latitude, :'data-depth' => 14}
    = event.venue_address
  = "(#{event.venue_name})"

%p.description
  = textilize(event.description).html_safe
