<section class='event'>
  <h1>
    <%= event.title %>
  </h1>

  <%= render 'events/details', event: event %>
  <%= render 'events/photo',   event: event %>
  <%= render 'events/map',     event: event %>

  <div class="clearfix"></div>

  <%= render 'events/presentations', postponed_presentations: event.postponed_presentations, not_postponed_presentations: event.not_postponed_presentations %>
  <%= render 'events/participants',  participants: event.participants %>
</section>
