%div#map
%p
  %time{:datetime => event.starting_at.iso8601}
    = l(event.starting_at, :format => :event)
  %br
  %span#map-location{:'data-lng' => event.venue_longitude, :'data-lat' => event.venue_latitude, :'data-depth' => 14}
    = event.venue_address
    = "(#{event.venue_name})"

%p.description
  Dotychczasowe zgłoszenia prezentacji:

  %ul
    - event.presentations.each do |presentation|
      %li
        %strong= presentation.title
        \-
        = presentation.users.map(&:full_name).join(', ')

- if @event.has_facebook_event?
  .attendants
    %h4 Uczestnicy
    - if @event.future?
      %p.attendance
        = link_to t("events.attend"), "#", :class => "attend"
        = link_to t("events.decline"), "#", :class => "decline"
