%h3
  = event.title
%div#map
%p  
  %time{:datetime => event.starting_at.iso8601}
    = l(event.starting_at, :format => :event)
  %br
  %span#map-location{:'data-lng' => event.venue_longitude, :'data-lat' => event.venue_latitude, :'data-depth' => 14}
    = event.venue_address
    = "(#{event.venue_name})"

%p.description
  = event.textilized_description.html_safe
