%li.event
  %header
    %h2
      = event.title
  %p.description
    //= textilize(event.description).html_safe
    %ul
      - event.confirmed_presentations.each do |presentation|
        %li
          %strong= presentation.title
          \-
          = presentation.users.map(&:full_name).join(', ')
    %ul
      - event.cancelled_presentations.each do |presentation|
        %li
          %del
            %strong= presentation.title
            \-
            = presentation.users.map(&:full_name).join(', ')

  %p.comments
    %time{:datetime => event.starting_at.iso8601.to_date}
      = I18n.l(event.starting_at.to_date, :format => :default)
    %span.comments
      = link_to I18n.t('events.details_link'), event_path(event)

