%ul.events
  - @events.each do |event|
    = render :partial => "event", :locals => { :event => event }

= paginate @events

= content_for :sidebar do
  = render_cell :content_blocks, :snippet, :online, t('snippets.online')
  = render_cell :content_blocks, :snippet, :community, t('snippets.community')
  = render_cell :content_blocks, :snippet, :keep_in_touch, t('snippets.keep_in_touch')
