%header
  %h2
    = I18n.t('events.events_so_far')
  = will_paginate @events
%ul.events
  - @events.each do |event|
    = render :partial => "event", :locals => { :event => event }

= will_paginate @events

= content_for :sidebar do
  = render_cell :content_blocks, :news_article, :limit => 1, :title => I18n.t('news_articles.latest')
  = render_cell :content_blocks, :snippet, :label => :online, :title => I18n.t('snippets.online')
  = render_cell :content_blocks, :snippet, :label => :community, :title => I18n.t('snippets.community')
