- options = {:class => "event"}
- options = {:class => "event facebook", :"data-facebook-id" => @event.facebook_id, :"data-attendants-url" => event_attendants_path(@event)} if @event.has_facebook_event?
%article{options}
  %header
    %h2
      = I18n.t('events.event_details')
  = render :partial => "event_detail", :locals => { :event => @event }

  - if @event.has_facebook_event?
    .attendants
      %h3 Uczestnicy
      - if @event.future?
        %p.attendance
          = link_to t("events.attend"), "#", :class => "attend"
          = link_to t("events.decline"), "#", :class => "decline"

  #comments
    #disqus_thread{:"data-title" => @event.title, :"data-url" => event_url(@event)}
    %noscript 
      = %Q{Please enable JavaScript to view the #{link_to "comments", "http://disqus.com/?ref_noscript"}.}

= content_for :sidebar do
  = render_cell :content_blocks, :news_article, t('news_articles.latest'), 1
  = render_cell :content_blocks, :snippet, :online, t('snippets.online')
  = render_cell :content_blocks, :snippet, :community, t('snippets.community')
  = render_cell :content_blocks, :snippet, :keep_in_touch, t('snippets.keep_in_touch')
