%article.event
  %header
    %h2
      = I18n.t('events.event_details')
  = render :partial => "event_detail", :locals => { :event => @event }

= content_for :sidebar do
  = render_cell :content_blocks, :news_article, :limit => 1, :title => I18n.t('news_articles.latest')
  = render_cell :content_blocks, :snippet, :label => :online, :title => I18n.t('snippets.online')
  = render_cell :content_blocks, :snippet, :label => :community, :title => I18n.t('snippets.community')

= content_for :head do
  = javascript_include_tag "http://maps.google.com/maps?file=api&amp;v=2&amp;sensor=true_or_false&amp;key=ABQIAAAARxhDyCAgkxaRS-btAXEOmRS1rKNKCajL_OjXVxcRqG-4FK8BDRRM9BBR1vD4b0biuXxliOmiRrL1hQ"
