%header
  %h2.content-header
    = I18n.t('site_menu.pages.contact')

%div.contact
  = form_for @contact, :url => contact_path do |f|
    .input
      = f.label :name
      = f.text_field :name
    .input
      = f.label :email
      = f.text_field :email
    .input
      = f.label :message
      = f.text_area :message
    = f.text_field :empty, :style => 'display:none'
    .input
      = f.submit I18n.t('send')

= content_for :sidebar do
  = render_cell :content_blocks, :snippet, :events, t('snippets.events')
  = render_cell :content_blocks, :snippet, :online, t('snippets.online')
  = render_cell :content_blocks, :snippet, :community, t('snippets.community')
  = render_cell :content_blocks, :snippet, :keep_in_touch, t('snippets.keep_in_touch')
