- unless @news_articles.size.zero?
  %section
    %header
      %h2
        = @opts[:title]
    - @news_articles.each do |news_article|
      %article.news-article
        %header
          = link_to news_article.title, '#'
        = (news_article.lead || news_article.body).html_safe
        %p
          %time
            = I18n.l(news_article.created_at, :format => :date_with_hour)
          %span.news-article
          = link_to I18n.t("news_articles.read_more"), news_article_path(news_article)
