<section class="about">
  <h1>About us</h1>
    <p>Dolnośląska Grupa Użytkowników Ruby to cykliczne spotkania pasjonatów tego języka programowania. Każde spotkanie jest doskonałą okazją wymiany doświadczeń oraz poznania ludzi, na co dzień zajmujacych się tą technologią.</p>
    <p>Spotkania mają charakter otwartego panelu dyskusyjnego – uczestnicy włączaja sie w udział w trakcie przygotowanych prelekcji. Zapraszamy zarówno tych zaawansowanych jak i stawiających pierwsze kroki w środowisku Rubiego!</p>
</section>

<section class="ruby">
  <h1>Community</h1>
    <ul>
      <li><%= link_to 'Warszawski RUG', 'http://wrug.eu' %></li>
      <li><%= link_to 'Krakowski RUG', 'http://ruby.org.pl' %></li>
      <li><%= link_to 'Śląski RUG', 'http://srug.pl' %></li>
      <li><%= link_to 'Poznański RUG', 'http://prug.pl' %></li>
      <li><%= link_to 'Łódzki RUG', 'http://lrug.pl' %></li>
      <li><%= link_to 'Trójmiejski RUG', 'http://trug.pl' %></li>
    </ul>
</section>

<section class="events">
  <h1>Recommended</h1>
  <ul>
    <li><%= link_to image_tag('http://placehold.it/128x128'), 'http://wrocloverb.com' %></li>
    <li><%= link_to image_tag('http://placehold.it/128x128'), 'http://wrocloverb.com' %></li>
  </ul>
</section>

<section class="contact">
  <h1>Contact</h1>
  <ul>
    <li><%= link_to 'anarchy@drug.org.pl', 'mailto:drug@drug.org.pl' %></li>
    <li>#drug.pl on freenode</li>
  </ul>
</section>

<div class="inner">
  <p>
    <% if current_user %>
      You are logged as <%= current_user.full_name %>.
      Now you can <%= link_to "go to your profile", current_user %>, <%= link_to "edit your profile", edit_people_path %> or <%= link_to "sign out", sessions_path, method: :delete %>.
    <% end %>
  </p>
  <p>
    <%= link_to 'Kod źródłowy', 'http://github.com/drugpl/drug-site' %> tej strony dostępny na licencji MIT.
    Dziękujemy wszystkim <%= link_to 'kontrybutorom', 'http://github.com/drugpl/drug-site/contributors' %>
  </p>
</div>
