!!! 5
%html
  %head
    %meta{:charset => "utf-8"}
    = javascript_include_tag :application
    = load_maps
    = csrf_meta_tag
    = stylesheet_link_tag :application
    = auto_discovery_link_tag :rss, events_url(:rss), :title => I18n.t("events.rss.title")
    = auto_discovery_link_tag :rss, 'http://feeds.feedburner.com/DRUG_Spotkania.xml', :title => I18n.t("events.rss.title")

    /[if lt IE 9]
      = javascript_include_tag "http://html5shiv.googlecode.com/svn/trunk/html5.js"

    :javascript
      var FacebookConfig = { appId: "#{Settings.facebook[:app_id]}" };

    %title DRUG
  %body
    .container
      .row
        .span16
          %header
            = link_to root_url, :class => 'logo' do
              %h1.title= 'DRUG'
              %h2.subtitle= 'Dolnośląska Grupa Użytkowników Ruby'
            %nav
              = render :partial => "layouts/nav"
            %p.notice
              = notice
            %p.alert
              = alert
      .row
        .span16
          %section#featured
            = yield :featured
          %section#body
            = yield
          %section#about
            = yield :about
      .row
        .span16
          %footer
            = render :partial => "layouts/footer"

