!!! 5
%html
  %head
    %meta{:charset => "utf-8"}
    = stylesheet_link_tag :application
    = javascript_include_tag :application
    = csrf_meta_tag

    /[if lt IE 9]
      = javascript_include_tag "http://html5shiv.googlecode.com/svn/trunk/html5.js"

    %title DRUG
  %body
    %header.top-bar
      .container
        = link_to root_url, title: 'Dolnośląska Grupa Użytkowników Ruby' do
          %h1
            DRUG
            %small Dolnośląska Grupa Użytkowników Ruby
        = render 'layouts/links'
    %section.main
      %section.activities
        .container
          .row
            .span3
              %section.meetup
                %h1
                  Meetup
            .span3
              %section.hack
                %h1
                  Hack
            .span3
              %section.dinner
                %h1
                  Dinner
            .span3
              %section.showoff
                %h1
                  Hall of fame
      .alerts
      = yield

    %footer.bottom-bar
      = render 'layouts/footer'

