!!! 5
%html
  %head
    %meta{:charset => "utf-8"}
    = stylesheet_link_tag :application
    = javascript_include_tag :application
    = csrf_meta_tag

    /[if lt IE 9]
      = javascript_include_tag "http://html5shiv.googlecode.com/svn/trunk/html5.js"

    %title DRUG
  %body
    %header.top-bar
      .container
        = link_to root_url, title: 'Dolnośląska Grupa Użytkowników Ruby' do
          %h1
            DRUG
            %small Dolnośląska Grupa Użytkowników Ruby
    %section.main
      = yield

    %footer.bottom-bar
      = render :partial => "layouts/footer"

