!!! 5
%html
  %head
    %meta{:charset => "utf-8"}
    = javascript_include_tag :application
    = load_maps
    //= javascript_include_tag "disqus-developer" unless Rails.env.production?
    = csrf_meta_tag
    = stylesheet_link_tag 'application'
    = auto_discovery_link_tag :rss, news_articles_url(:rss), :title => I18n.t("news_articles.rss.title")
    = auto_discovery_link_tag :rss, events_url(:rss), :title => I18n.t("events.rss.title")
    = auto_discovery_link_tag :rss, 'http://feeds.feedburner.com/DRUG_Aktualnosci.xml', :title => I18n.t("news_articles.rss.title")
    = auto_discovery_link_tag :rss, 'http://feeds.feedburner.com/DRUG_Spotkania.xml', :title => I18n.t("events.rss.title")

    /[if lt IE 9]
      = javascript_include_tag "html5shiv"
      = stylesheet_link_tag 'compiled/ie.css', :media => 'screen, projection'

    :javascript
      var FacebookConfig = { appId: "#{AppConfig[:facebook_app_id]}" };

    %title DRUG
  %body
    #container
      %header#top
        = link_to root_url, :class => "logo" do
          = image_tag "drug-logo.png"
          %h1.title
            = "DRUG"
          %h2.subtitle
            = "Dolnośląska Grupa Użytkowników Ruby"
        %nav
          = render :partial => "layouts/nav"
        %p.notice
          = notice
        %p.alert
          = alert
      #content
        %section#featured
          = yield :featured
        %section#body
          = yield
        %section#about
          = yield :about
      %aside
        = yield :sidebar
      %footer
        = render :partial => "layouts/footer"
        
